server:
  port: 8090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pet_life?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto

app:
  jwt:
    secret: change-me-to-a-long-random-secret-please
    expiration-minutes: 120

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    com.qss.pet: DEBUG
